{erl_opts, [debug_info]}.

%% deps
{deps, [
    {protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", {branch, "develop"}}}
]}.

{clean_files, [
    "*~", "**/*~", "**/*.beam", "logs/*", "test/Emakefile"
]}.

{cover_enabled, false}.

%% eunit
{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "."}]}}
]}.

%% escript
{escript_incl_apps, [protobuffs]}.
{escript_emu_args, "%%! -sasl errlog_type error -boot start_sasl -noshell\n"}.
